<template>
  <div class="summary">
    <h1 class="main">Order Summary</h1>
    <ul class="summary-items wrapper border">
      <li>
        <span class="summary-items-number">11 Items</span
        ><span class="summary-items-price"
          >120<span class="currency">€</span></span
        >
      </li>
    </ul>
    <div
      class="summary-discounts wrapper-half border"
      v-if="checkout.discounts.length"
    >
      <h2>Discounts</h2>
      <ul>
        <li v-for="(discount, index) in checkout.discounts" :key="index">
          <span v-text="discount.text" /><span>-{{ discount.amount }}€</span>
        </li>
      </ul>
    </div>
    <div class="summary-total wrapper">
      <ul>
        <li>
          <span class="summary-total-cost">Total cost</span
          ><span class="summary-total-price">{{ checkout.total() }}€</span>
        </li>
      </ul>
      <button type="submit">Checkout</button>
    </div>
  </div>
</template>

<script lang="ts">
import type Product from "../interfaces/Product";

export default {
  components: {},
  props: {
    checkout: {
      type: Object,
      required: true,
    },
  },
  computed: {
    productsWithDiscount(): Product[] {
      return this.checkout.availableProducts.filter(
        (product: Product) => product.discounts
      );
    },
  },
};
</script>
