<template>
  <div class="product">
    <div class="col-product">
      <figure class="product-image">
        <img :src="product.img" alt="Shirt" />
        <div class="product-description">
          <h1>{{ product.name }}</h1>
          <p class="product-code">Product code {{ product.id }}</p>
        </div>
      </figure>
    </div>
    <div class="col-quantity">
      <button class="count" @click="changeProductAmount(false)">-</button
      ><input
        type="text"
        class="product-quantity"
        :value="product.quantity"
      /><button class="count" @click="changeProductAmount(true)">+</button>
    </div>
    <div class="col-price">
      <span class="product-price">{{ product.price }}</span
      ><span class="product-currency currency">€</span>
    </div>
    <div class="col-total">
      <span class="product-price">{{ product.price * product.quantity }}</span
      ><span class="product-currency currency">€</span>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
  },

  methods: {
    changeProductAmount(add: boolean) {
      this.$emit("changeProductAmount", add);
    },
  },
};
</script>
