<template>
  <div id="root">
    <main class="App" v-if="checkout.total">
      <section class="products">
        <h1 class="main">Shopping cart</h1>
        <ul class="products-list tableHead">
          <li class="products-list-title row">
            <div class="col-product">Product details</div>
            <div class="col-quantity">Quantity</div>
            <div class="col-price">Price</div>
            <div class="col-total">Total</div>
          </li>
        </ul>
        <ul class="products-list">
          <li class="row" v-for="(product, index) in items" :key="index">
            <StoreProduct
              :product="product"
              @changeProductAmount="changeProductAmount(product, $event)"
            />
          </li>
        </ul>
      </section>
      <aside class="aside"><OrderSummary :checkout="checkout" /></aside>
    </main>
  </div>
</template>

<script lang="ts">
import OrderSummary from "./components/OrderSummary.vue";
import StoreProduct from "./components/StoreProduct.vue";
import Checkout from "./classes/Checkout";
import type IProduct from "./interfaces/Product";
import products from "./data/products.json";

export default {
  components: { OrderSummary, StoreProduct },
  mounted() {
    this.checkout = new Checkout(products);

    this.checkout.scan("TSHIRT").scan("CAP").scan("TSHIRT");
  },
  data() {
    return {
      checkout: {} as Checkout,
    };
  },
  computed: {
    items(): IProduct[] {
      return this.checkout.availableProducts || [];
    },
  },

  methods: {
    changeProductAmount(product: IProduct, add: boolean) {
      add ? product.quantity++ : product.quantity--;
    },
  },
};
</script>
